<p>
  Hola 游녦游낖<%= @attendant.first_name + " " + @attendant.last_name %> te has inscrito para el culto <%= @attendant.event.name %>.
</p>

<p>El d칤a del culto te enviaremos por whatsapp un link para que completes tu declaraci칩n jurada.</p>
<p>Si no completas la declaraci칩n no podr치s asistir al culto.</p>
<p>Nos vemos pronto!</p>
<br>
<p>Atte.</p>
<p>Min. de Comunicaci칩n - IAP Nacimiento</p>
