<p>
  Hola <%= @attendant.first_name + " " + @attendant.last_name %> te has inscrito para el culto <%= @attendant.event.name %>.
</p>

<p>El día del culto te enviaremos por whatsapp un link para que completes tu declaración jurada.</p>
<p>Si no completas la declaración no podrás asistir al culto.</p>
<p>Nos vemos pronto!</p>
<br>
<p>Atte.</p>
<p>IAP Nacimiento - Min. de Comunicación</p>
