<p>
  <%= @attendant.first_name + " " + @attendant.last_name %> se ha inscrito para el culto <%= @attendant.event.name %>.
</p>

<p>El día del culto se enviará a tu celular un link para que completes la declaración jurada.</p>
<p>Si no completas la declaración no podrás asistir al culto.</p>
<p>Nos vemos pronto!</p>
<br>
<p>Atte.</p>
<p>IAP Nacimiento - Min. de Comunicación</p>
