<style>
* {
  margin: 0;
}

.pb {
  padding-bottom: 5px;
}
</style>

<p class="pb">
  <%= @attendant.first_name + " " + @attendant.last_name %> hemos recibido tu Declaración Jurada para el culto <%= @attendant.event.name %>.
</p>
<br>
<h4>Tu asiento es el:</h4>
<h3><%= @attendant.seat %></h3>
<br>
<p>No olvides que debes presentarte a las 17.30 hrs en la Iglesia.</p>
<p>Debes tener a mano tu pase de movilidad porque será habilitado en la entrada.</p>
<h3>Nos vemos hoy! 🥳</h3>
<br>
<p>Ante cualquier duda comunicate al:</p>
<a href="tel:+56912345678" class="pb">+56 (9) 3178 7392</a>
<br>
<p>Atte.</p>
<p>IAP Nacimiento - Min. de Comunicación</p>
