<div class="container mt-3">
  <h2 class="text-center">Lo sentimos pero ya no hay cupos disponibles para este culto 😢</h2>
  <p class="text-center">Te invitamos a que te inscribas en el siguiente culto disponible.</p>
  <p class="text-center">Haz click en el botón de abajo para seleccionar un culto con cupos disponibles.</p>
  <div class="d-flex justify-content-center">
    <%= link_to 'Ver los cultos', root_path, class: "btn btn-primary" %>
  </div>
  <h3 class="text-center bold">Nos vemos pronto!</h3>
</div>
