<%= simple_form_for @event_collaborator do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="collabModalLabel">
      <%= event_collaborator.collaborator.first_name + " " + event_collaborator.collaborator.last_name %>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="form-inputs">
        <%= f.input :temperature, label: "Ingresa la temperatura", autofocus: true%>
      </div>
      <div class="text-center mb-5">
        <%= f.button :submit, "Guardar", class: "btn btn-primary" %>
      </div>
  </div>
<% end %>
