<div class="container mt-3">
  <h4 class=text-center><%= @declaration.attendant.first_name + " " + @declaration.attendant.last_name%> </h4>
  <h4 class="text-center pt-2">Lo sentimos pero como presentas síntomas relacionados al Covid no podrás asistir al servicio.</h4>
  <h4 class="text-center">Te recomendamos solicitar atención médica a la brevedad.</h4>
</div>
