<div class="container">
  <p class="text-center bold mt-3">Declaración Jurada</p>
  <h3 class="text-center"><%= @declaration.attendant.first_name + " " + @declaration.attendant.last_name%></h1>
  <p class="text-center pt-2 pb-4"><%= @declaration.event.name %></p>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">1. ¿Se ha realizado un examen de PCR para detectar COVID-19 en la última semana?</p>
    <% if @declaration.qa == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">2. ¿Ha estado en contacto estrecho (menos de un metro de distancia y sin mascarilla) con alguna persona con diagnóstico conocido de COVID-19 en los últimos 11 días? (Excluye personal de salud con uso de EPP en contexto de atención de paciente/excluye ser contacto de un contacto)</p>
    <% if @declaration.qb == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">3. ¿Ha estado en contacto estrecho (menos de un metro de distancia y sin mascarilla) con alguna persona sospechosa de COVID-19 en espera de resultado del examen de COVID-19 en la última semana? (Excluye personal de salud con uso de EPP en contexto de atención de paciente)</p>
    <% if @declaration.qc == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">4. ¿Ha presentado alguno de los siguientes síntomas agudos asociados a COVID-19 en la última semana?</p>
      <p class="pt-2 text-center">Temperatura de 37,5°C o más</p>
      <% if @declaration.qd1 == true %>
        <p class="declaration-answer bold mb-3 text-center">SI</p>
      <% else %>
        <p class="declaration-answer bold mb-3 text-center">NO</p>
      <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Pérdida brusca del olfato (anosmia)</p>
    <% if @declaration.qd2 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Pérdida brusca del gusto (ageusia)</p>
    <% if @declaration.qd3 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">5. Marque si actualmente presenta alguno de los siguientes síntomas agudos asociados a COVID-19, puede marcar más de uno:</p>
    <p class="pt-2 text-center">Tos</p>
    <% if @declaration.qe1 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Calofríos</p>
    <% if @declaration.qe2 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Dolor de cabeza</p>
    <% if @declaration.qe3 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Dolor de garganta al comer o tragar</p>
    <% if @declaration.qe4 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Dolores musculares</p>
    <% if @declaration.qe5 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Diarrea o dolor abdominal</p>
    <% if @declaration.qe6 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Dolor en el pecho</p>
    <% if @declaration.qe7 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <p class="text-center">Pérdida brusca del gusto (ageusia)</p>
    <% if @declaration.qe8 == true %>
      <p class="declaration-answer bold mb-3 text-center">SI</p>
    <% else %>
      <p class="declaration-answer bold mb-3 text-center">NO</p>
    <% end %>
  </div>
</div>
