<p><%= @collaborator.first_name + " " + @collaborator.last_name %> hemos recibido tu Declaración Jurada para el culto <%= @event.name %>.</p>
<p style="margin: 0;">Lo sentimos pero como presentas síntomas relacionados al Covid no podrás asistir al servicio.</p>
<p style="margin: 0;">Te recomendamos solicitar atención médica a la brevedad.</p>

<p style="margin: 0;">Ante cualquier duda comunicate al:</p>
<a href="tel:+56912345678" style="margin: 0;" >+56 (9) 3178 7392</a>
<p style="margin: 10px 0 0 0;">Atte.</p>
<p style="margin: 0;">Min. de Comunicación - IAP Nacimiento</p>
