<div class="divTableHeading">
  <div class="divTableRow">
    <div class="divTableHead">Nombre</div>
    <div class="divTableHead">Apellidos</div>
    <div class="divTableHead">Rut</div>
    <div class="divTableHead">Teléfono</div>
    <div class="divTableHead">Email</div>
    <div class="divTableHead">Asiento</div>
    <div class="divTableHead">PDM</div>
    <div class="divTableHead">Tº</div>
    <div class="divTableHead">Declaración</div>
    <div class="divTableHead"></div>
  </div>
</div>
