<h2 class="text-center mt-2">Selecciona el culto que deseas asistir</h2>
<% if @events.size > 0 %>
  <% @events.each do |event| %>
  <div class="d-flex flex-column align-items-center">
    <% if event.quantity > 0 %>
      <%= link_to new_event_attendant_path(event) do %>
        <%= event.name %>
        <p><%= event.quantity %> cupos disponibles</p>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% else %>
<p class="text-center">No hay cultos disponibles</p>
<% end %>
