div.paleBlueRows, div.paleGreenRows {
  // border: 1px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.divTable.paleBlueRows .divTableCell, .divTable.paleBlueRows .divTableHead, .divTable.paleGreenRows .divTableCell, .divTable.paleGreenRows .divTableHead {
  // border: 1px solid #FFFFFF;
  padding: 4px 2px;
}
.divTable.paleBlueRows .divTableBody .divTableCell, .divTable.paleGreenRows .divTableBody .divTableCell  {
  font-size: 0.9em;
}
.divTable.paleBlueRows .divTableRow:nth-child(even), .divTable.paleGreenRows .divTableRow:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.divTable.paleBlueRows .divTableHeading {
  background: $blue;
}

.divTable.paleGreenRows .divTableHeading {
  background: $light-green;
}

.divTable.paleBlueRows .divTableHeading .divTableHead, .divTable.paleGreenRows .divTableHeading .divTableHead{
  font-size: 0.8em;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  // border-left: 2px solid #FFFFFF;
}
.divTable.paleBlueRows .divTableHeading .divTableHead:first-child, .divTable.paleGreenRows .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.paleBlueRows .tableFootStyle, .paleGreenRows .tableFootStyle  {
  font-size: 14px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}



.input-form-text {
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ancho {
  width: 5% !important;
}
