.event-card{
  background-color: $primary;
  width: 60vw;
  padding: 0.4em 0;
  color: #fff;
  border-radius: 2px;
}

.see-declaration{
  color: #fff;
  font-size: .7em;
}

.declaration-answer{
  font-size: 1.5em;
}
