@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: "Roboto", "sans-serif";
}

.bold {
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0;
  font-size: 0.6em;
}

.declaration-answer{
  font-size: 1em;
}

.pdf-flex {
  display: flex;
  flex-direction: row;
}
